
.otp-box input{
	width: 40px;
	height: 40px;
	margin: 5px;
	padding: 10px;
	border: 1px solid royalblue;
    font-size: medium;
}
.otp-actions button{
   align-items: center;
	width:90px;
	height: 30px;
	margin: 4px;
	font-size: small;
	font-weight: 600;
	background-color: rgb(69, 93, 165);
	color: azure;
	border-radius: 4px;
	border: none;
}